html {
    scrollbar-width: thin;
    scrollbar-color: #038847 #002e11;
    overflow: hidden;
    -webkit-animation: showScroll 0ms 2500ms 1 forwards linear;
            animation: showScroll 0ms 2500ms 1 forwards linear;
  }
  @-webkit-keyframes showScroll {
    100% {
      overflow-y: visible;
    }
  }
  @keyframes showScroll {
    100% {
      overflow-y: visible;
    }
  }
  html ::-webkit-scrollbar {
    width: 0.5rem;
    background: #002e11;
  }
  html ::-webkit-scrollbar-thumb {
    background: #038847;
    border: 1px solid #54e600;
  }
  html *:not(code) {
    font-family: "Poppins", "Times New Roman", sans-serif;
    outline: none;
  }
  
  .splash-container {
    position: fixed;
    inset: 0;
    z-index: 999;
    isolation: isolate;
    color: white;
    font-family: "Poppins", "Times New Roman", sans-serif;
    font-weight: bold;
    background: #002e11;
    pointer-events: none;
    -webkit-animation: fade 1250ms 1500ms 1 forwards ease-out;
            animation: fade 1250ms 1500ms 1 forwards ease-out;
  }
  @-webkit-keyframes fade {
    100% {
      opacity: 0;
    }
  }
  @keyframes fade {
    100% {
      opacity: 0;
    }
  }
  .splash-container img {
    position: absolute;
    width: 10rem;
    top: 50%;
    left: 50%;
    z-index: 9;
    isolation: isolate;
    transform: translate(-50%, -100%);
  }
  @media screen and (min-width: 1200px) {
    .splash-container img {
      transform: translate(-80%, -50%);
      -webkit-animation: shiftLogo 500ms 500ms 1 forwards ease-in-out;
              animation: shiftLogo 500ms 500ms 1 forwards ease-in-out;
    }
    @-webkit-keyframes shiftLogo {
      100% {
        left: 35%;
      }
    }
    @keyframes shiftLogo {
      100% {
        left: 35%;
      }
    }
  }
  .splash-container .school-name {
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 4em;
    transform: translate(-50%, 50%);
  }
  @media screen and (min-width: 1200px) {
    .splash-container .school-name {
      transform: translate(-25%, -50%);
      font-size: 6em;
    }
  }
  .splash-container .school-name::after {
    content: "";
    position: absolute;
    background: #002e11;
    width: 100%;
    height: 100%;
    inset: 0;
    transform-origin: right;
    -webkit-animation: revealName 600ms 750ms 1 forwards ease-out;
            animation: revealName 600ms 750ms 1 forwards ease-out;
  }
  @-webkit-keyframes revealName {
    100% {
      transform: scaleX(0);
    }
  }
  @keyframes revealName {
    100% {
      transform: scaleX(0);
    }
  }
           .hero-image {
    background-image: url(img/main/juniorwing.jpg);
      background-position: center;
    background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      animation: zoomInOut 8s infinite alternate;
      height: 450px;
  
    }
  
    
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }   
    
    .hero-text button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 10px 25px;
      color: black;
      background-color: #002e1147;
      text-align: center;
      cursor: pointer;
      font-size: 24px;
      color: white;
      font-weight: 500;
    }
    
    .hero-text button:hover {
    background-color: #17426696;
      color: white;
  
    }
    a{
        color:white}
    a:hover{
        color:white}
    @keyframes zoomInOut {
      0% { transform: scale(1); }
      50% { transform: scale(1.2); } /* Zoom in at 50% of the animation */
      100% { transform: scale(1); } /* Zoom out at the end of the animation */
    }
  
  
  
  .side-links {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: clamp(2em, 1em + 5vh, 5em);
    -ms-writing-mode: tb;
        writing-mode: tb;
    z-index: 10;
    -webkit-margin-start: 10rem;
            margin-inline-start: 10rem;
    transition: all 500ms ease-out;
  }
  .side-links-left {
    inset: 0 auto 0 0;
  }
  .side-links-right {
    transform: rotateZ(180deg);
    inset: 0 0 0 auto;
  }
  .side-links a {
    -webkit-padding-after: 0.5em;
            padding-block-end: 0.5em;
    transform: translateX(-10%);
    transition: all 200ms ease-out;
  }
  .side-links a:where(:hover, :focus) {
    transform: translateX(0%);
  }
  
  .navbar,
  marquee {
    opacity: 0;
    pointer-events: none;
    -webkit-animation: showNavbar 100ms 2250ms 1 forwards linear;
            animation: showNavbar 100ms 2250ms 1 forwards linear;
  }
  @-webkit-keyframes showNavbar {
    100% {
      opacity: 1;
      pointer-events: all;
    }
  }
  @keyframes showNavbar {
    100% {
      opacity: 1;
      pointer-events: all;
    }
  }
  
  .main-nav {
    background: #dc9202;
  }
  .main-nav a:where(:hover, :focus) {
    background: #ffaa00;
  }
  
  .footer {
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-head {
    background: #002e11;
  }
  
  #event {
    background: #03d871;
  }
  #event img {
    filter: brightness(70%);
  }
  
  .activity img {
    width: 2rem;
    grid-column: 1/2;
  }
  .activity a {
    text-decoration: none;
    color: #fff;
    padding: 0 0 0 0.5em;
  }
  .activity a:where(:hover, :focus) {
    color: #cccccc;
  }
  
  .quick-link a {
    text-decoration: none;
    color: #fff;
    padding: 0.2em 0;
  }
  .quick-link a:where(:hover, :focus) {
    color: #cccccc;
  }
  
  a:hover .btn-title, a:focus .btn-title {
    background: #00af5b;
  }
  a .btn-title {
    background: #002e11;
    border: 0.1em solid #dc9202;
    margin: 40% 0 0;
    transition: all 300ms ease-in-out;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .bg-lavender {
    background: #aa00ff;
  }
  
  .place-items-center {
    place-items: center;
  }
  
  .fs-small {
    font-size: 0.8em;
  }
  
  caption {
    caption-side: top;
    text-align: center;
  }/*# sourceMappingURL=style.css.map */